@import 'variables';
@import 'fonts';

html,
body {
  direction: rtl;
  text-align: right;
  font-family: $font-family;
  background: $main-bg;
}

main {
  margin-right: 6%;
  margin-left: 6%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

form {
  width: 100%;
  margin-top: 2rem;

  .form-group {
    position: relative;
  }
}

.card {
  border-radius: 1rem;
}

@each $name,
$color in $gradiant {
  .bg-#{""+$name} {
    background: $color;
  }
}